

header {
    background-color: #63b3ed;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

p {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

body {
    margin-left: 10px;
}

h1 {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin-left: 20px;
    color: #101010;
}

form {
    align-content: center;
}

* {
    box-sizing: border-box;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

}

a {
    color: #0044dd;
}

.login, .register {
    width: 400px;
    margin: 100px auto;
}

.login h1, .register h1 {
    text-align: center;

}

.login a, .register a {
    margin-left: -15px;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
    text-align: center;
}
.login .links a, .register .links a {
    color: #00a000;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  	color: #9da3ac;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #3274d6;
  	color: #3274d6;
}

.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    /*background-color: #3182ce;*/

}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"]{

    width: 400px;
    height: 50px;

}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"], {
  	width: 400px;
  	height: 50px;
  	border: 3px solid #dee0e4;
  	margin-bottom: 40px;
  	padding: 0 15px;

}
.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.headerlinks {
    text-align: right;
    font-size: medium;
}

