<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
<header>
    <div class="container">
            <ul class="menu">
                <li><a class="activeNav" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="activeNav" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="activeNav" href="{{ url_for('register') }}">Register</a></li>
                <li style="float:right"><a class="activeNav" href="{{ url_for('about') }}">About</a></li>
            </ul>
    </div>
</header>

<div class="register">
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="email">
            <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="email" placeholder="Email" id="email" required>                    <!--EMAIL-->

        <label for="password">
            <!--<i class="fas fa-lock"></i>-->
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>        <!--PASSWORD-->

        <label for="firstname">
            <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="firstname" placeholder="First Name" id="firstname" required>       <!--FIRSTNAME-->

        <label for="lastname">
            <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>          <!--LASTNAME-->

        <label for="phonenr">
            <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="phonenr" placeholder="Phone Number" id="phonenr" required>       <!--PHONENUMBER-->

        <label for="address">
            <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="address" placeholder="Address" id="address" required>              <!--ADDRESS-->

        <label for="postcode">
        <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="postcode" placeholder="Postcode" id="postcode" required>           <!--POSTCODE-->

        <label for="city">
        <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="city" placeholder="City" id="city" required>                       <!--CITY-->

        <label for="country">
        <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="country" placeholder="Country" id="country" required>              <!--COUUNTRY-->

        <label for="dob">
        <!--<i class="fas fa-user"></i>-->
        </label>
        <input type="text" name="dob" placeholder="Date of Birth" id="dob" required>



        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>