/* TABLE HEAD */
.header {
    font-size: 24pt;
}

.titlerow {
    float: left;
    display: box;
    padding 5px;
    width: 100%;
    font: 11px, bold;
    border-bottom: 1px solid black;
}

.titlerow > div {
    float: left;
    padding: 5px;
}

.titlerow.t1 {
    widht: 500px;
}

/* ITEM ROWS */
.itemrows {
    float: left;
    display: box;
    width: 100%;
}

.altrows {
    background-color: #dadada;
}

.itemrows > div {
    float: left;
    padding: 5px;
}

.col1 {
    width: 100px;
    margin: 0px;
}

.col2 {
    width: 200px;
    margin: 0px;
}

.col3 {
    width: 300px;
}

.col5 {
    float: left;
    width: 100%;
}

input.col3 {
    border-radius: 5px;
    border: 1px solid rgb(183, 180, 180);
    padding: 5px;
    width: 50px;
    height: 28px;
}

input.hidden {
    display: none;
}

/* FOOTER */
.footer {
    border-top: 1px solid black;
    width: 100%;
    float: right;
}

.footer > div {
    display: block;
    padding: 10px;
    float: right;
}

/* MENU */
.menu {
    float: left;
    width: 100%;
    background: none;
}

.menu > div {
    display: block;
    padding: 10px;
    float: left;
}

ul.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-list > li {
    float: left;
    padding-right: 20px;
}

.menu-list > a:hover{
    display: block;
    background-color: blue;
}
input.searchbar {
    width: 400px;
}