ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.activeNav {

}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color: #0044dd;
}

header {
    margin: 0;
    background-color: #63b3ed;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

p {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}


h1 {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #101010;
}

form {
    align-content: center;
}

* {
    box-sizing: border-box;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

}


.login, .register {
    width: 400px;
    margin: 100px auto;
}

.login h1, .register h1 {
    text-align: center;

}

.login a, .register a {
    margin-left: -15px;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
    text-align: center;
}
.login .links a, .register .links a {
    color: #00a000;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: #333;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #111111;
  	color: #111;
}

.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    /*background-color: #3182ce;*/

}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"]{

    width: 400px;
    height: 50px;

}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"], {
  	width: 400px;
  	height: 50px;
  	border: 3px solid #dee0e4;
  	margin-bottom: 40px;
  	padding: 0 15px;

}
.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #111;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: #111111;
  	transition: background-color 0.2s;
}

.headerlinks {
    text-align: right;
    font-size: medium;
}



