{% extends "layout.html" %}

{% block content %}
    <head>
    <script src="../static/jquery-1.11.2.js"></script>
    <script>
        $(function() {
                $.ajax({
                        url: '/getcustomerMypage',
                        type: 'GET',
                        success: function(res) {
                                var div = $('<div>')
    .attr('class', 'list-group')
    .append($('<a>')
        .attr('class', 'list-group-item active')
        .append($('<h4>')
            .attr('class', 'list-group-item-heading'),
            $('<p>')
            .attr('class', 'list-group-item-text')));

                                var xObj = JSON.parse(res);
                                var x = '';

                                $.each(xObj, function(index, value) {
                                    x = $(div).clone();
                                    $(x).find('h4').text(value.Firstname);
                                    $(x).find('h4').text(value.Lastname);
                                    $(x).find('h4').text(value.Email);
                                    $(x).find('h4').text(value.Address);
                                    $(x).find('h4').text(value.Postcode);
                                    $(x).find('h4').text(value.Country);
                                    $(x).find('h4').text(value.Phone);
                                    $('.jumbotron').append(x);
                                });
                        },
                        error: function(error) {
                                console.log(error);
                        }
            });
        });
    </script>
    </head>
{% endblock %}
