{% extends 'layout.html' %}

    {% block stylesheets%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/productTable.css') }}">
    {% endblock %}

{% block content %}
<div class="prodgrid">
    {% for items in prod %}
    <a href="/product?id={{items.0}}" titel="{{ items.1 }}">
    <div class="item">
        <div class="img">
            {% if items.4 == '' %}
            <img src="{{ url_for('static', filename='resources/noimg.jpg') }}" alt="noimg" class="prodimg"/>
            {% else %}
            <img src="{{ url_for('static', filename='resources/') }}{{ items.4 }}" alt="{{items.4}}" class="prodimg"/>
            {% endif %}
        </div>
        <div class="name">{{items.1}}</div>
        <div class="desc">{{items.2}}</div>
        <div class="price">{{items.3}} SEK</div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}

{% block sidebar %}
{% include 'include_cart.html' %}
{% endblock %}