{% extends 'layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/prodpage.css') }}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="img">
        <div class="img">
            {% if item.4 == '' %}
            <img src="{{ url_for('static', filename='resources/noimg.jpg') }}" alt="noimg" class="img-thumbnail"/>
            {% else %}
            <img src="{{ url_for('static', filename='resources/') }}{{ item.4 }}" alt="{{item.4}}" class="img-thumbnail"/>
            {% endif %}
        </div>
    </div>
    <div class="name"><h1>{{item.1}}</h1></div>
    <div class="prodID">{{item.0}}</div>
    <div class="desc">{{ item.2 }}</div>
    <div class="addtocart"><a href="/addtocart?id={{item.0}}&qty=1">Add to cart</a></div>
</div>

{% endblock content %}