{% extends 'layout.html' %}

{% block content %}
{% for item in prod%}
<div class="grid-container">
    <div class="img">
        <div class="img">
            {% if item.4 == none %}
            <img src="{{ url_for('static', filename='resources/noimg.jpg') }}" alt="noimg" class="prodimg"/>
            {% else %}
            <img src="{{ url_for('static', filename='resources/') }}{{ item.4 }}" alt="{{item.4}}" class="prodimg"/>
            {% endif %}
        </div>
    </div>
    <div class="name"><h1>{{ item.1 }}</h1></div>
    <div class="prodID">{{ item.0 }}</div>
    <div class="desc">{{ item.2 }}</div>
</div>
{% endfor %}
{% endblock content %}